
/*#######################################################*/
/* GLOBAL VARS */
/*#######################################################*/
:root {
    /* Define colours */
    --colour-background: #232324; /* Dark slate */
    --colour-accent1: #FF77B8; /* Deep pink */
    --colour-textBright: #FFFFFF; /* White */
    --colour-textDim: #DDDDDD; /* Light Grey */
    --colour-textDark: #232324; /* Dark slate */
}


/*#######################################################*/
/* GENERIC */
/*#######################################################*/
/* Page body */
body {
    /* Defaults */
    background-color: var(--colour-background);
    font-family: verdana;
    font-size: 20px;
    /* Remove page margins */
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
}
/* Generic text */
.GenericText{
    color: var(--colour-textBright);
    font-size: 1.2rem;
    text-align:center;
}
/* Generic page stylings */
.PageStyle_Column{
    margin-left:20vmin;
    margin-right:20vmin;
}
/* Blank spacer */
.Spacer{
    margin-bottom:10px;
}
/*#######################################################*/
/* HEADER */
/*#######################################################*/
/* Header box */
.TitleBox {
    color: var(--colour-textDark);
    background-color: var(--colour-accent1);
    /* remove horizontal margins */
    margin-left: 0px;
    margin-right: 0px;
}

/* First level header */
/* Huge */
h1 {
    text-align: left;
    font-size: 100px;
    /* bold */
    font-weight: 700;
    /* remove vertical margins */
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 20px;
}

/* Second level header */
/* Kinda big - subheader for h1 */
h2 {
    text-align: left;
    font-size: 30px;
    /* remove margins */
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent:20px;
}

/*#######################################################*/
/* CONTENT TILE */
/*#######################################################*/
:root {
    /* Define vars */
    --contentTile-size: 70vmin;    /* Content tile max size (container will squish to fit in row) */
}

/* Parent */
.ContentTileContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

/* Content Tiles */
.ContentTile {
    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* No margins */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* Size */
    width: var(--contentTile-size);
    height: var(--contentTile-size);
    /* Text */
    text-align: center;
    color: var(--colour-background);
    /* Cursor interaction */
    cursor: pointer;
}
.ContentTileImage {
    object-fit: cover !important;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    /* Cursor interaction */
    cursor: pointer;
}
.ContentTileTextTitle {
    /* Align bottom-middle */
    transform: translateY(-100%);
    font-size: 2rem;
    font-weight: 900;
    /* TODO: this shadow sucks. too thin. improve me! */
    text-shadow: 2px 2px 0 var(--colour-accent1), 2px -2px 0 var(--colour-accent1), -2px 2px 0 var(--colour-accent1), -2px -2px 0 var(--colour-accent1), 2px 0px 0 var(--colour-accent1), 0px 2px 0 var(--colour-accent1), -2px 0px 0 var(--colour-accent1), 0px -2px 0 var(--colour-accent1);
    /* No cursor interaction (do not block link clicks) */
    pointer-events: none;
}

/*#######################################################*/
/* PROJECT PAGES: GENERIC */
/*#######################################################*/
/* Static images */
.projectImageContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}
/* Static images subtitle text */
.projectImageSubtitle {
    color: var(--colour-textDim);
    font-size: 1rem;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}
/* Team credits text */
.CreditsText {
    color: var(--colour-textBright);
    font-size: 1.2rem;
    text-align: left;
}

/*#######################################################*/
/* PROJECT PAGES: EXTERNAL SITE BUTTONS */
/*#######################################################*/

/* External site button container */
.projectButtonContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 20vmin;
}
/* External site buttons */
.projectButtonImage {
    object-fit: cover;
    /* Cursor interaction */
    cursor: pointer;
    /* No margins */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
/* External site button subtitle text*/
.projectButtonSubtitle {
    font-size: 1rem;
    text-align: center;
    color: var(--colour-textBright);
}